@use "../../../assets/colors/colorpalette" as c;

.Nav-bar {
  background: c.$smoky-black;
  height: 75px;

  .Logo {
    display: block;
    padding: 10px 0;

    img {
      margin: 10px;
      width: 50px;
      height: 50px;
    }
  }
}

nav {
  text-align: center;
  margin-top: -75px;

  a {
    line-height: 20px;
    font-size: 25px;
    display: inline-block;
    padding-inline-start: 85px;
    position: relative;
    text-decoration: none;
    color: c.$anti-flash-white;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: c.$anti-flash-white;

      svg {
        opacity: 1;
        color: c.$dark-sienna;
      }

      &:after {
        opacity: 1;
        color: c.$dark-sienna;
      }
    }

    &:after {
      font-size: 16px;
      letter-spacing: 1px;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: c.$anti-flash-white;
      transition: all 0.3s ease-out;
    }

    &:first-child {
      &::after {
        display: block;
        content: "Home";
      }
    }
  }

  a.recipe-link {
    &:after {
      display: block;
      content: "Recipes";
    }
  }

  a.cookingstyle-link {
    &:after {
      display: block;
      content: "Cooking Styles";
    }
  }

  a.cuttingstyle-link {
    &:after {
      display: block;
      content: "Cutting Styles";
    }
  }

  a.knife-link {
    font-size: 32px;

    &:after {
      display: block;
      content: "Knives";
    }
  }

  a.potandpan-link {
    &:after {
      display: block;
      content: "Pots & Pans";
    }
  }

  a.active {
    svg {
      color: c.$dark-sienna;
    }
  }
}
