@use "../../../assets/colors/colorpalette" as c;

article {
  margin: 1em;
  padding: 1em;
  background-color: c.$dark-sienna;
  color: c.$anti-flash-white;
  border-radius: 15px;
}

.RecipeCardList {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  column-gap: 40px;
  row-gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
}
