.Nav-bar {
  background: #373535;
  height: 75px;

  .Logo {
    display: block;
    padding: 10px 0;

    img {
      margin: 10px;
      width: 50px;
      height: 50px;
    }
  }
}

nav {
  text-align: center;
  margin-top: -70px;


  a {
    line-height: 50px;
    font-size: 30px;
    display: inline-block;
    padding-inline-start: 55px;
    position: relative;
    color: #4d4d4e;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: #ff0000;

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: "";
      font-size: 17px;
      letter-spacing: -1px;
      position: relative;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &:first-child {
      &::after {
        content: "HOME";
      }
    }
  }

  a.recipe-link {
    &:after {
      content: "RECIPES";
    }
  }

  a.cookingstyle-link {
    &:after {
      content: "COOKING STYLES";
    }
  }

  a.cuttingstyle-link {
    &:after {
      content: "CUTTING STYLES";
    }
  }

  a.knife-link {
    &:after {
      content: "KNIVES";
    }
  }

  a.potandpan-link {
    &:after {
      content: "POTS & PANS";
    }
  }

  a.active {
    svg {
      color: #ff0000;
    }
  }
}
