@use "../../../assets/colors/colorpalette" as c;

header {
  background-color: c.$dark-sienna;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search {
  width: 95%;
  border: 2px solid c.$smoky-black;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.Search:focus-within {
  box-shadow: 2px 2px 5px c.$smoky-black;
}

.SearchButton,
.SearchInput {
  background-color: c.$anti-flash-white;
  border: none;
  outline: none;
}

.SearchInput {
  padding: 1em;
  width: 85%;
}

.SearchButton {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: c.$grullo;
  display: grid;
  place-content: center;
}
