.IndividualRecipeLayout {
  margin-top: 40px;

  .TitleImage {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    text-align: center;
    width: 400px;
    margin: auto;
    padding-top: 10px;
  }

  img {
    margin-left: 39%;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 7px 60px rgba(95, 102, 101, 0.64);
  }

  .Ingredients {
    float: left;
    display: grid;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    width: 700px;
    border: 2px solid black;
    border-radius: 5px;
    grid-template-columns: repeat(5, 140px);
    background-color: antiquewhite;
    font-family: Coolvetica;
    font-weight: 400;
    font-size: 13px;
  }

  .Instructions {
    margin-top: 10px;
    margin-right: 20px;
    padding: 30px;
    width: 500px;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    font-family: Coolvetica;
    font-weight: 400;
    font-size: 13px;
  }
}
