.IndividualRecipeLayout {
  margin-top: 70px;

  .TitleImage {
    float: left;
    display: block;
    position: relative;
    margin: 0 auto;

    h1 {
      font-size: 25px;
      text-align: center;
      margin-top: 0px;
    }

    h3 {
      text-align: center;
      width: 500px;
      margin-left: 50px;
      padding-top: 10px;
    }

    img {
      margin-left: 120px;
      width: 300px;
      height: 300px;
      border-radius: 20px;
      box-shadow: 2px 7px 60px rgba(95, 102, 101, 0.64);
    }
  }

  .Ingredients {
    float: right;
    display: grid;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
    grid-template-columns: repeat(5, 120px);
    background-color: antiquewhite;
    font-family: Coolvetica;
    font-weight: 400;
    font-size: 13px;
  }

  .Instructions {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px; 
    // margin-right: 20px;
    padding: 30px;
    width: 92%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    font-family: Coolvetica;
    font-weight: 400;
    font-size: 13px;
  }
}
