@use "./assets/colors/colorpalette" as c;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", "sans-serif";
  background: c.$grullo;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
